.feed{
    background-color: #ebeffa;
    height: 100%;
    min-height: 100vh;
    max-height: 100%;
    padding-top: 20px;
}
.hd-btn{
    display: flex;
    height:min-content;

}
.hd-btn > button{
    padding: 10px 30px 10px;
    margin-right: 1rem;
    margin-top: 10px;
}
.hd{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;

}

.hd-txt{
    color: #1f72c7
}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card{
    align-self: center;
    margin: 20px 20px 20px;
    max-width: 70%;
    border-radius: 10px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 10.3px 7.9px rgba(0, 0, 0, 0.072),
  0 10.8px 13.4px rgba(0, 0, 0, 0.022),
  0 10px 10px rgba(0, 0, 0, 0.02)
;

}