.styles_day_title__1y-BE{
    background-color: #1f72c8 !important;
    color: white !important
}
.styles_event__2jA91{
    border-radius: 5px !important;
    background-color: #1f71c84b !important;
}
.styles_hour__EXCif{
    background-color: #1f72c8 !important;
    color: white !important

}

/* .styles_day__1cspH{
    /* background-image: linear-gradient(rgba(255, 255, 255, 0.08) 50%, transparent 50%) !important; */
 */
.timeTable-container{
    margin: 20px;
    padding: 20px;
}
.form-container{
    padding: 20px;
    margin: 20px;
}

.TimeTable-co{
    margin: 30px;
}
.skeleton-line{
    display: flex;
    flex-wrap: wrap;
}

.MuiSkeleton-pulse{
    margin-right: 5px;
}